.List {
  all: unset;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;

  p,
  h1,
  a {
    all: unset;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin: 5px 40px;
    background-color: #f6f5f0;
    border-radius: 5px;
  }

  #logo {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    font-family: "Dancing Script", cursive;
    font-size: 20px;
    font-weight: 700;
  }

  #menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    width: 35%;
    color: #bfbfbf;
  }

  #logoGoHome {
    cursor: pointer;
  }

  .menuClass {
    cursor: pointer;
  }

  section {
    display: flex;
    flex-direction: column;
    margin: 15px 40px;
    border-radius: 5px;
  }

  .sectionDiv {
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #f6f5f0;
    font-family: "Dancing Script", cursive;
    font-size: 17px;
  }

  .coffeeType {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    height: 50px;
  }

  .specialOffer {
    padding-left: 10px;
  }

  .coffeeImgsSection {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .coffeeWithTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    width: 300px;
  }

  .coffeeDetail {
    cursor: pointer;
  }
}
