.LikeBtn {
	.like {
		position: absolute;
		top: -2px;
		right: 70px;
		font-size: 15px;
	}

	.hate {
		position: absolute;
		top: -2px;
		right: 40px;
		font-size: 15px;
		transform: rotate(180deg);
	}
}
